[data]
    email = "{{ .chezmoi.email }}"
    name = "{{ .chezmoi.username }}"

encryption = "age"

[age]
    recipient = {{ keyring "chezmoi-age-public-key" "witon" | quote }}
    identity = "~/Documents/.config/chezmoi/age/key.txt"