encryption = "age"

[age]
    recipient = {{ include (joinPath .chezmoi.homeDir "Documents/.config/chezmoi/age/key.pub") | trim | quote }}
    identity = {{ joinPath .chezmoi.homeDir "Documents/.config/chezmoi/age/key.txt" | quote }}